@import url("https://use.typekit.net/jse5fqe.css");
/* --- Colors --- */
/* --- Fonts --- */
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }
body {
  font-family: bennet-display, serif;
  color: #000010;
  font-size: 18px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: acumin-pro, sans-serif;
  font-weight: 300; }

.splash-lead {
  font-family: bennet-display, serif;
  font-size: 36px;
  line-height: 1.33; }

.section-header {
  font-family: acumin-pro, sans-serif;
  font-size: 15px;
  color: #275ea3;
  text-transform: uppercase;
  letter-spacing: 1px; }

.header {
  font-family: bennet-display, serif;
  font-size: 30px;
  line-height: 1.6; }

/* --- Global Architecture --- */
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .wrapper main {
    flex: 1; }

nav.primary {
  border: 1px solid red; }

main section {
  border: none; }
main section#splash {
  background-color: #e7f1fd; }
main section#about {
  background-color: #e7f1fd; }
main section#company {
  background-color: white; }
main section#offer {
  background-color: #e7f1fd; }
main section#team {
  background-color: white; }
main section#contact {
  background-color: #e7f1fd; }

footer.primary {
  border: 1px solid blue; }
