header#header {
  position: sticky;
  top: 0;
  height: 0;
  z-index: 9999;
  nav {
    background-color: #e7f1fd;
    .container {
      .navbar-brand {
        img {
          display: inline-block;
          width: 8rem;
        }
      }
      .navbar-toggler {
        padding: 0;
        margin-right: 1rem;
        outline: none;
        transition: color 200ms linear;
        &:hover, &:focus {
          span {
            color: rgba($black, 0.5);
            transition: color 200ms linear;
          }
        }
        span {
          color: $black;
          height: 100%;
          width: 100%;
          text-transform: uppercase;
          font-family: $acumin;
        }
      }
      #navbar-primary {
        .navbar-nav {
          display: flex;
          justify-content: center;
          width: 100%;
          li {
            a {
              text-transform: uppercase;
              font-size: 0.65rem;
            }
          }
          .list-contact {
            display: none;
            color: $deep-blue;
            @include media-breakpoint-down(sm) {
              display: block
            }
          }
        }
        @include media-breakpoint-down(sm) {
          .navbar-nav {
            align-items: center;
            padding-top: 0.33rem;
          }
        }
      }
      .contact-cta {
        color: $deep-blue;
        padding-left: 1.1rem;
        border-left: 1px solid $deep-blue;
        text-transform: uppercase;
        font-size: 0.65rem;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }
}



aside {
  &#rebrand-modal {
    display: block;
    position: fixed;
    width: 22rem;
    top: 8rem;
    right: 2rem;
    z-index: 1;
    background: $white;
    font-size: 0.8rem;
    padding: 1.25rem 2rem 2rem;
    a {
      background-color: #275ea3;
      color: white;
      font-size: 0.8rem;
      letter-spacing: 1px;
      font-family: "acumin-pro", "system", "sans-serif";
      text-transform: uppercase;
      padding: 0.5rem 1.5rem;
      display: inline-block;
    }
  }
  @include media-breakpoint-down(sm) {
    &#rebrand-modal {
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      border: 3px solid $deep-blue;
      width: 70%;
      padding: 1.66rem;
    }
  }
}
