@import url("https://p.typekit.net/p.css?s=1&k=jse5fqe&ht=tk&f=26063.34912.34953.34956&a=8622106&app=typekit&e=css");
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
font-family:"acumin-pro";
src:url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/027dd4/00000000000000003b9acafa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"bennet-display";
src:url("https://use.typekit.net/af/d0afde/00000000000000003b9b014e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d0afde/00000000000000003b9b014e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d0afde/00000000000000003b9b014e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"bennet-text-one";
src:url("https://use.typekit.net/af/15ae15/00000000000000003b9b0177/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/15ae15/00000000000000003b9b0177/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/15ae15/00000000000000003b9b0177/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"bennet-text-one-bd";
src:url("https://use.typekit.net/af/5600e2/00000000000000003b9b017a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5600e2/00000000000000003b9b017a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5600e2/00000000000000003b9b017a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

$acumin: "acumin-pro", 'system', 'sans-serif' !default;
$benDisplay: "bennet-display", 'system', 'sans-serif' !default;
$benTextRg: "bennet-text-one", 'system', 'sans-serif' !default;
$benTextBd: "bennet-text-one-bd", 'system', 'sans-serif' !default;


h1, .h1 {
  font-family: $benDisplay;
  font-size: 2.66rem;
  line-height: 1.45;
  @include media-breakpoint-down(lg) {
    font-size: 2.369rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.77rem;
  }
}
h2, .h2 {
  font-family: $benDisplay;
  font-size: 2.369rem;
  line-height: 1.45;
  margin-bottom: 2rem;
  @include media-breakpoint-down(lg) {
    font-size: 1.777rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.33rem;
  }
}
h3, .h3 {
  font-family: $benDisplay;
  font-size: 1.777rem;
  line-height: 1.45;
  @include media-breakpoint-down(lg) {
    font-size: 1.333rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }
}
h4, .h4 {
  font-family: $benDisplay;
  font-size: 1.333rem;
  line-height: 1.45;
  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}
h5, .h5 {
  font-family: $benDisplay;
  font-size: 1rem;
  line-height: 1.45;
  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}
h6, .h6 {
  font-family: $benDisplay;
  font-size: 0.75rem;
  line-height: 1.45;
}

p, span {
  font-family: $benDisplay;
  font-size: 1rem;
  line-height: 1.78;
  @include media-breakpoint-down(lg) {
    font-size: 0.9rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
}

li, label {
  font-size: 1rem;
  font-family: $benTextRg;
  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
}

.p1 {
  font-size: 1.22rem;
  @include media-breakpoint-down(lg) {
    font-size: 0.9rem;
  }
}
